name: background-jobs

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  issue-search:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Restore previous state
        uses: actions/cache@v4
        with:
          path: state.json
          key: issue-search-${{ github.run_id }}
          restore-keys: issue-search-
      - name: Show previous state content
        if: always()
        run: |
          ls -l state.json || echo "file does not exist yet"
          cat state.json || true
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven
      - name: Run contribot
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          ./mvnw spring-boot:run \
          -Dspring-boot.run.arguments="--github.issue-search.job.execution-file=state.json \
                                 --logging.level.org.voninc.contribot.dao.JobExecutionFSRepository=DEBUG"
      - name: Force save updated state
        if: always()
        uses: actions/cache/save@v4
        with:
          path: state.json
          key: issue-search-${{ github.run_id }}
      - name: Show current state content
        if: always()
        run: |
          ls -l state.json || echo "file does not exist yet"
          cat state.json || true